.order {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  box-sizing: border-box;

  span {
    display: inline-block;
    margin: 0 8px;
    padding: 5px;
    text-transform: capitalize;
    border: 1px solid #ccc;
  }
}