@import '../../../assets/css/shared.scss';

.buildControls {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  padding: 10px 0;
  width: 100%;
  background-color: $golden-brown;
  box-shadow: 0 2px 1px $grey-border;
}

.orderButton {
  padding: 15px 30px;
  font-family: inherit;
  text-transform: uppercase;
  color: $golden-brown-border;
  border: 1px solid $golden-brown-border;
  background-color: $yellow;
  box-shadow: 2px 2px 2px $golden-brown-border;
  cursor: pointer;
  outline: none;

  &:hover, :active {
    color: $golden-brown-border;
    background-color: $bright-green;
    border: 1px solid $golden-brown-border;
    cursor: not-allowed;
  }

  &:disabled {
    color: $disabled-text-grey;
    background-color: $disabled-grey;
    border: 1px solid $grey-border;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    animation: enable .3s linear;
  }
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}