@import '../../../../assets/css/shared.scss';

.buildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;

  button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid $dark-brown;
    cursor: pointer;
    outline: none;

    &:disabled {
      color: $grey-border;
      border: 1px solid $golden-brown;
      background-color: $dark-brown;
      cursor: default;

      &:hover {
        color: $grey-border;
        background-color: $dark-brown;
        cursor: not-allowed;
      }
    }
  }

  .less {
    color: white;
    background-color: $light-golden-brown;
  }

  .more {
    color: white;
    background-color: $brown;
  }

  .less, .more {
    &:hover {
      color: white;
      background-color: $light-golden-brown-hover;
    }

    &:active {
      color: white;
      background-color: $light-brown;
    }
  }
}

.label {
  width: 80px;
  padding:10px;
  font-weight: bold;
}