.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  padding: 0 20px;
  background-color: #703b09;
  box-sizing: border-box;
  z-index: 90;

  nav {
    height: 100%;
  }
}

@media (max-width: 499px) {
  .desktopOnly {
    display: none;
  }
}