.drawerToggle {
 position: relative;
  width: 40px;
  height: 100%;
  text-indent: -9999px;
  box-sizing: border-box;
  cursor: pointer;

  span {
    position: absolute;
    display: block;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 3px;
    background-color: white;
    transform: translateY(-50%);
  }

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 5%;
    width: 90%;
    height: 3px;
    background-color: white;
  }

  &:before {
    top: 15px;
  }

  &:after {
    bottom: 15px;
  }
}

@media (min-width: 500px) {
  .drawerToggle {
    display: none;
  }
}