@import '../../../assets/css/shared.scss';

.modal {
  position: fixed;
  left: 15%;
  top: 30%;
  width: 70%;
  padding: 16px;
  border: 1px solid $grey-border;
  background-color: white;
  box-sizing: border-box;
  z-index: 500;
  transition: all .5s ease-out;
}

@media (min-width: 600px) {
  .modal {
    width: 500px;
    left: calc(505 - 250px);
  }
}