/********************************/
/********** Variables ***********/
/********************************/

/********** Colors ***********/
$link-blue: #40a4c8;
$bright-green: #a0db41;
$yellow: #dad735;
$light-golden-brown-hover: #daa952;
$light-golden-brown: #d39952;
$golden-brown: #cf8f2e;
$light-brown: #99703f;
$brown: #8f5e1e;
$dark-brown: #aa6817;
$link-brown: #8f5c2c;

$disabled-text-grey: #888;
$disabled-grey: #c7c6c6;


$grey-border: #ccc;
$golden-brown-border: #966909;