@import '../../../../assets/css/shared.scss';

.navigationItem {
  display: block;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;

  a {
    display: block;
    width: 100%;
    color: $dark-brown;
    text-decoration: none;
    box-sizing: border-box;

    &:hover, &:active, &.active {
      color: $link-blue;
    }
  }
}

@media (min-width: 500px) {
  .navigationItem {
    display: flex;
    width: auto;
    height: 100%;
    margin: 0;
  
    a {
      width: auto;
      height: 100%;
      padding: 16px 10px;
      color: white;
      border-bottom: 4px solid transparent;
  
      &:hover, &:active, &.active {
        color: white;
        background-color: $dark-brown;
        border-bottom: 4px solid $link-blue;
      }
    }
  }
}