.sideDrawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  max-width: 70%;
  height: 100%;
  padding: 32px 16px;
  background-color: white;
  box-sizing: border-box;
  transition: transform .3s ease-out;
  z-index: 200;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

@media (min-width: 500px) {
  .sideDrawer {
    display: none;
  }
}