.button {
  margin: 10px;
  padding: 10px;
  font: inherit;
  font-weight: bold;
  color: white;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:first-of-type {
    margin-left: 0;
    padding-left: 0;
  }

  &:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
}

.success {
  color: #5c9210;
}

.danger {
  color: #944317;
}