.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8x;
  }

  .inputElement {
    display: block;
    width: 100%;
    padding: 6px 10px;
    font: inherit;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;

    &:focus {
      background-color: #eee;
      outline: none;
    }
  }

  .invalid {
    background-color: salmon;
    border: 1px solid red;
  }

  .validationError {
    margin: 5px 0;
    color: red;
  }
}