.navigationItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 500px) {
  .navigationItems {
    flex-direction: row;
  }
}